<div class="main-content">
    <div class="container-fluid">
    <div class="row">
      <div class="col-4 mt-10 text-left">
        <span class="pl-20">
          <a class="btn btn-round pr-10 btn-gold">4/5</a>
        </span>
      </div>
    </div>
    <div class="form-election">
      <form #ngform4="ngForm" (ngSubmit)="next()">
        <div class="logo">
          <img src="assets/agora.png" class="form-logo">
        </div>
        <mat-radio-group>
          <div class="row">
            <div class="col-12 text-center">
              <p class="align-right">
                Select voting algorithm
              </p>
            </div>
            <div class="col text-left">
              <table class="table">
                <tbody>
                  <tr *ngFor="let algo of algos; let i = index">
                    <td>
                      <label class="radio-label">{{algo.description}}
                        <input type="radio" value="{{algo.value}}" [(ngModel)]="form4.votingAlgo" ngDefaultControl name="form4.votingAlgo">
                        <span class="checkmark"></span>
                      </label>
                    </td>
                    <td class="td-actions text-right">
                      <a mat-raised-button type="button" href="{{algo.link}}" matTooltip="Read more" [matTooltipPosition]="'above'" class="btn btn-gold btn-link btn-sm btn-just-icon">
                        <i class="material-icons">chrome_reader_mode</i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </mat-radio-group>
      </form>
    </div>
    <div class="row pb-20">
      <div class="col text-right">
        <span class="pr-20">
          <button class="btn btn-round btn-gold" (click)="previous()">Previous</button>
        </span>
        <span class="pr-20 text-right">
          <button class="btn btn-round btn-gold" [disabled]="!ngform4.valid" (click)="next()">Next</button>
        </span>
      </div>
    </div>
  </div>
</div>